:root {
    --container-backgound-color: rgba(25, 31, 109, 0.411);
    --nav-blue: #1638a7;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(40, 45, 112, 0.76);
    transition: ease-in-out 0.25s;
}

/* ---------------------------------------------------------------- */

/*                         Site Header                              */

/* ---------------------------------------------------------------- */

header {
    position: relative;
    height: auto;
}

#logo img {
    width: 13.5%;
    border-radius: 10px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-image: url('../images/title_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------------------------------- */

/*                         Navigation Bar                           */

/* ---------------------------------------------------------------- */

.nav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    margin: 1% 0;
}

.nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 0.5% 1%;
}

.nav a:hover {
    background-color: #838383;
    color: var(--nav-blue);
}

.active {
    background-color: var(--nav-blue);
    color: white;
}

/* ---------------------------------------------------------------- */

/*                         Page Content Styles                      */

/* ---------------------------------------------------------------- */

.altcard {
    width: 25%;
    float: right;
    margin: auto 4px;
}

.containercontainer {
    width: 85%;
    background-color: var(--container-backgound-color);
    padding: 0.75%;
    border-radius: 15px;
    margin: auto;
}

.contcontainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: flex-start;
    justify-content: center;
}

.contcard {
    background-color: white;
    border: 1px black solid;
    padding: 1%;
    border-radius: 10px;
    flex: 1 1 23%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    margin: 1%;
    transition: ease-in-out 0.25s;
}

.contcard:hover {
    box-shadow: 5px 5px grey;
}

.contcard img {
    width: 100%;
    border-radius: 15px;
}

.imagecard {
    background-color: white;
    overflow: auto;
    padding: 0.25%;
    border-radius: 10px;
    flex: 1 1 23%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 1%;
    transition: ease-out 0.25s;
}

.imagecard:hover {
    transform: scale(1.35);
}

.imagecard p {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
}

.imagecard:hover p {
    visibility: visible;
}

.imagecard img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.card1 {
    flex: 2 0 48%;
}

#usrUpload {
    width: 75%;
}

#usrUpload fieldset {
    border-radius: 15px;
}

@media (max-width: 1150px) {
    .nav a {
        padding: 1% 2%;
    }

    .imagecontainercontainer {
        width: 100%;
    }

    .containercontainer {
        width: 100%;
    }

    .altcard {
        width: 100%;
        margin: 4px;
    }

    .contcard {
        flex: 1 1 48%;
    }

    .imagecard {
        flex: 1 1 48%;
    }

    .imagecard:hover {
        transform: scale(1);
    }
}

@media (max-width: 750px) {
    .contcard {
        flex: 1 1 100%;
    }

    .imagecard {
        flex: 1 1 50%;
    }
}

/* ---------------------------------------------------------------- */

/*                        Scrollbar styles                          */

/* ---------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--container-backgound-color);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(170, 170, 170);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}